<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/whatsapp"
        android:label="Dark Hours"
        android:roundIcon="@drawable/whatsapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyParking"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BookMyParking">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signloginpage.logIn" android:exported="true"/>
        <activity android:name=".signloginpage.signIn" android:exported="true"/>
        <activity android:name=".Home.homePage" android:exported="true"/>
        <activity
            android:name=".Product.ProductDetailActivity"
            android:exported="false" />

        <activity android:name=".Product.ShopAllActivity" android:exported="true"/>
        <activity android:name=".About.AboutActivity" android:exported="true"/>
        <activity
            android:name=".Contact.ContactActivity"
            android:exported="false" />






    </application>

</manifest>
